.page {
  @include flex-column;
}

.content {
  @include flex-column;
  align-items: center;
  padding-top: 8rem;
  padding-bottom: 3rem;
  > * {
    margin-bottom: 1rem;
  }
  > *:last-child {
    margin-bottom: unset;
  }
}

.container {
  @include flex-column;
  background: white;
  border-radius: $border-radius;
  width: 80%;
}

.footer {
  position: absolute;
  z-index: 9;
  bottom: 0;
  width: 100%;
  border-top: 1px solid $border-color;
  background: $background-undertone;
  padding: 0.2rem;
  p {
    color: $text-contrast;
  }
}

@media (min-width: $breakpoint-mobile) {
  .content {
    padding-top: 6rem;
  }
}
