@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin reset-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  border: none;
  border-radius: $border-radius;
  background-color: white;
  color: black;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

@mixin pulse-blob($color: black) {
  background: $color;
  border-radius: 50%;
  margin: 10px;
  height: 10px;
  width: 10px;
  box-shadow: 0 0 0 0 rgba($color, 1);
  transform: scale(1);
}

@mixin center-content {
  @include flex-column;
  align-items: center;
  justify-content: center;
}
