$border-radius: 4px;
$border-color: #9ec4b9;

$button-color: #006747;

$background-transparent: rgba(32, 29, 29, 0.555);

$green-1: rgb(41, 54, 40);

$background: rgb(241, 243, 241);
$background-undertone: rgb(61, 83, 68);

$list-undertone1: rgb(61, 83, 68);
$list-undertone2: rgb(77, 109, 87);

$text-undertone: rgb(61, 83, 68);
$text-contrast: rgb(237, 248, 243);
$text-link: rgb(45, 68, 201);

$navbar-height: 70px;

$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-large: 1440px;

$status-color-green: rgb(30, 172, 30);
$status-color-yellow: rgb(231, 215, 66);
$status-color-red: rgb(211, 68, 68);
