.authPage {
  @include flex-row;
  width: 100vw;
  height: 100vh;
  background-color: $background;
  overflow: hidden;
  min-width: 320px;
}

.exampleContainer {
  @include flex-column;
  transition: all 0.5s;
  color: $text-contrast;
  justify-content: space-between;
  width: 40%;
  background: $background-undertone;
  user-select: none;
  padding: 1rem;
  overflow: hidden;
}

.examples {
  @include center-content;
}

.exampleOne {
  width: 85%;
  height: 85%;
}

.exampleContent {
  @include flex-column;
  z-index: 2;
  align-items: center;
  height: 35%;
}

.exampleTitle {
  text-align: center;
}

.exampleDescription {
  margin-top: 20px;
  font-size: 1.1rem;
  text-align: center;
}

.authContainer {
  @include flex-column;
  transition: all 0.5s;
  color: $text-undertone;
  padding: 1rem;
  position: relative;
  width: 60%;
  flex-flow: column;
}

.authForm {
  @include center-content;
  flex: 1 1 auto;
}

.authTitle {
  margin-bottom: 1rem;
  text-align: center;
}

.loginTypeGroup {
  @include flex-row;
}

.loginTypeBtn {
  @include reset-btn;
  height: 30px;
  transition: all 0.5s;
  margin-right: 10px;
  color: rgb(247, 247, 247);
  background-color: rgb(214, 212, 212);

  &:hover {
    background-color: rgb(100, 121, 148);
    color: rgb(255, 255, 255);
  }

  &[aria-selected="true"] {
    background-color: rgb(125, 189, 144);
    color: rgb(255, 255, 255);
  }
}

.inputFields {
  @include flex-column;
  width: 320px;
}

.inputField {
  @include center-content;
  margin-top: 20px;
  width: 100%;
}

.inputTitle {
  color: $text-undertone;
  width: 100%;
}

.authInput {
  border-radius: $border-radius;
  width: 100%;
  padding: 8px;
  border-radius: $border-radius;
  overflow: hidden;
}

.authLoginBtn {
  @include reset-btn;

  margin-left: auto;
  background-color: rgb(100, 121, 148);
  color: rgb(255, 255, 255);
  height: 30px;
  transition: all 0.5s;
  margin-right: 10px;

  &:hover {
    background-color: rgb(80, 160, 121);
    color: rgb(255, 255, 255);
  }
}

.alreadyHave {
  @include flex-row;
  position: absolute;
  right: 16px;
  justify-content: flex-end;
  p {
    margin-right: 8px;
  }
  font-size: 1.2rem;
}

.clickLink {
  color: $text-link;
  cursor: pointer;
  &:hover {
    filter: brightness(0.8);
  }
}

.userErrorText {
  color: rgb(180, 81, 81);
  height: 20px;
  font-size: 1.2rem;
}

@media only screen and (max-width: 600px) {
}
@media only screen and (max-width: 768px) {
  .authContainer {
    width: 100%;
  }
  .exampleContainer {
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  .exampleOne {
    width: 100%;
  }
}
@media only screen and (min-width: 1200px) {
}
