.authContainer {
  @include flex-row;
  background: $background;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.formContainer {
  @include flex-column;
  @include center-content;
  color: $text-undertone;
  padding: 1rem;
  width: 100%;
  height: 100%;
}

.previewContainer {
  background: $background-undertone;
  color: $text-contrast;
  user-select: text;
  display: none;
  height: 100%;
  padding: 1rem;
}

.previews {
  @include center-content;
}

.previewImage {
  width: 100%;
  height: 100%;
}

.previewContent {
  @include flex-column;
  align-items: center;
  height: 20%;
}

.previewTitle {
  text-align: center;
}

.previewDescription {
  margin-top: 20px;
  font-size: 1.1rem;
  text-align: center;
}

.form {
  @include flex-column;
  padding: 1rem;
  background: white;
  border-radius: $border-radius;
}

.formTitle {
  margin-bottom: 1rem;
  text-align: center;
}

.inputFields {
  @include flex-column;
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: unset;
  }
}

.inputField {
  margin-top: 0.5rem;
  &:first {
    margin-top: unset;
  }
  label {
    text-align: left;
    width: 100%;
  }
  input {
    border-radius: $border-radius;
    width: 100%;
    margin-top: 0.5rem;
    padding: 8px;
    border-radius: $border-radius;
    overflow: hidden;
  }
}

.formSubmitBtn {
  margin-left: auto;
  margin-top: 1rem;
  background-color: rgb(100, 121, 148);
  color: rgb(255, 255, 255);
  height: 30px;

  &:hover {
    background-color: rgb(80, 160, 121);
    color: rgb(255, 255, 255);
  }
}

.formErrorText {
  color: red;
  margin-top: 1rem;
  text-align: center;
}

@media (min-width: $breakpoint-tablet) {
  .previewContainer {
    @include flex-column;
    justify-content: space-between;
    width: 50%;
  }
}
