@import "variables.scss";
@import "mixin.scss";
@import "navbar.scss";
@import "auth.scss";
@import "reservations.scss";

html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: $background;
  overflow: hidden;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: unset;
  padding: unset;
  transition: all 0.5s;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
  flex-direction: column;
}

.contentContainer {
  @include flex-column;
  align-items: center;
  padding: 1rem;
  color: $text-undertone;
  > * {
    margin-bottom: 1rem;
  }
  > *:last-child {
    margin-bottom: unset;
  }
}

.welcomeBack {
  width: 100%;
}

.container {
  @include flex-column;
  background: white;
  border-radius: $border-radius;
  padding: 10px;
  width: clamp(320px, 80%, 1024px);
}

.separation {
  display: block;
  content: "";
  height: 3px;
  margin-bottom: 0.5rem;
  background: $background-undertone;
}

.quickActionMenu {
  @include flex-row;
  justify-content: space-between;
}

.quickAction {
  @include reset-btn;
  color: $text-undertone;
  background: white;
  border: 1px solid $background-undertone;
  &:hover {
    background: $background;
  }
  &:active {
    filter: brightness(0.95);
  }
}

.warningContainer {
  background: rgb(206, 206, 248);
  border-radius: $border-radius;
  width: 80%;
  padding: 1rem;
  text-align: center;
}

.warningText {
  font-size: 1.7rem;
  color: black;
}

.internalTitle {
  padding: 10px;
  font-weight: bold;
  font-size: 1.5rem;
  border-bottom: 1px solid $border-color;
}

.internalContainer {
  padding: 1rem;
}

.overlay {
  display: none;
  position: absolute;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background-color: $background-transparent;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;

  &.overlay-active {
    display: flex;
  }
}

.overlay-internal {
  display: flex;
  background-color: red;
  height: auto;
  width: auto;
}

.popupCard {
  display: flex;
  flex-direction: column;
  width: 320px;
  background-color: $background;
  padding: 1 6rem;
  border-radius: 4px;
}

.popupHeader {
  display: flex;
  width: inherit;
  text-align: center;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
  & > p {
    margin-bottom: 10px;
    font-weight: bold;
    color: $text-undertone;
  }
}

.popupContent {
  display: flex;
  flex-direction: column;
}

.tabList {
  display: flex;
  flex-direction: row;
}

.tabSwitcher {
  position: relative;
  margin: 0.5rem;
  padding: 10px;
  background-color: white;
  border-radius: $border-radius;
  & p {
    font-size: 1.3rem;
  }
  &.selected {
    filter: brightness(0.98);

    .tabIndicator {
      display: flex;
      animation: tabGrow 1s forwards;
      background-color: black;
    }
  }
  &:hover {
    filter: brightness(0.96);
  }
}

.tabIndicator {
  display: flex;
  content: "";
  width: 100%;
  height: 2px;
}

@keyframes tabGrow {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

.Test {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 700px;
  background-color: white;
}

.headerClass {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(41, 56, 38);
  border-radius: $border-radius;
  text-align: center;
  color: white;
  font-weight: lighter;
  padding: 5px 1px;
  // padding: 10px;
}

.ReactVirtualized__Table__row {
  background-color: white;

  &:nth-child(even) {
    filter: brightness(0.9);
  }
  &:hover {
    filter: brightness(0.8);
  }
}

.ReactVirtualized__Table__rowColumn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filterInput {
  width: 20%;
  background-color: rgb(238, 236, 236);
  border-radius: $border-radius;
  border-width: 1px;
  padding: 5px;
  font-weight: bold;
  margin: 0px 10px;
}

// .centerContainer {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   flex: 1 1 auto;
// }
