@import "vital/variables.scss";
@import "vital/mixin.scss";
@import "vital/layout.scss";
@import "navbar.scss";
@import "auth.scss";
@import "reservations.scss";
@import "filter.scss";

html,
body {
  @include flex-column;
  width: 100%;
  height: 100%;
  background-color: $background;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: unset;
  padding: unset;
}

button {
  @include reset-btn;
}

p {
  display: flex;
  align-items: center;
}

@media (min-width: $breakpoint-tablet) {
}

@media (min-width: $breakpoint-desktop) {
}

@media (min-width: $breakpoint-large) {
}
