@import "vital/variables.scss";
@import "vital/mixin.scss";
@import "vital/layout.scss";
@import "navbar.scss";
@import "auth.scss";
@import "reservations.scss";
@import "filter.scss";

html,
body {
  @include flex-column;
  width: 100%;
  height: 100%;
  background-color: $background;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: unset;
  padding: unset;
}

button {
  @include reset-btn;
}

p {
  display: flex;
  align-items: center;
}

span.blob {
  @include pulse-blob($status-color-green);
  animation: pulse-green 2s infinite;

  &.yellow {
    @include pulse-blob($status-color-yellow);
    animation: pulse-yellow 2s infinite;
  }
  &.red {
    @include pulse-blob($status-color-red);
    animation: pulse-red 2s infinite;
  }
}

@keyframes pulse-green {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba($status-color-green, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba($status-color-green, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba($status-color-green, 0);
  }
}

@keyframes pulse-yellow {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba($status-color-yellow, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba($status-color-yellow, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba($status-color-yellow, 0);
  }
}

@keyframes pulse-red {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba($status-color-red, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba($status-color-red, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba($status-color-red, 0);
  }
}

@media (min-width: $breakpoint-tablet) {
}

@media (min-width: $breakpoint-desktop) {
}

@media (min-width: $breakpoint-large) {
}
