@import "vital/variables.scss";
@import "vital/mixin.scss";
@import "vital/layout.scss";
@import "navbar.scss";
@import "auth.scss";
@import "reservations.scss";

html,
body {
  @include flex-column;
  width: 100%;
  height: 100%;
  background-color: $background;
  overflow: hidden;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: unset;
  padding: unset;
}

button {
  @include reset-btn;
}
