.navbar {
  @include flex-column;
  align-items: center;
  color: $text-contrast;
  justify-content: space-between;
  background: $background-undertone;
  padding: 1rem;
  position: relative;
  user-select: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9;
}

.navMenu {
  @include flex-row;
}

.navItem {
  background-color: $background;
  color: $text-undertone;
  margin-right: 1rem;
  flex-grow: 0;
  &:hover {
    filter: brightness(0.95);
  }
  &:active {
    filter: brightness(0.85);
  }
  &:last-child {
    margin-right: unset;
  }
}

.navUsername {
  @include center-content;
  margin-right: 1rem;
  font-size: 1.5rem;
}

@keyframes navBorderSlide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@media (min-width: $breakpoint-mobile) {
  .navbar {
    flex-direction: row;
  }
}
