.reservationContainer {
  background: $background;
  width: 100%;
}

.reservationHeader {
  @include flex-row;
  justify-content: space-between;
  border-radius: $border-radius $border-radius 0px;
  background: white;
  padding: 1rem;
  font-size: 1rem;
}

.reservation {
  transition: all 0.2s ease-in;
  @include flex-column;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgb(224, 224, 224);
  background-color: white;
  color: $text-undertone;

  width: 100%;
  padding: 1rem;
  position: relative;

  &:hover {
    background-color: $background-undertone;
    color: white;
  }
}

.col-location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 200px;
  max-width: 200px;
  p {
    text-align: center;
    word-wrap: break-word;
  }
}

.col-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  p {
    text-align: center;
    word-wrap: break-word;
  }
}

.reservationOptions {
  display: flex;
  position: absolute;
  top: 5px;
  right: 15px;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
}

.noReservationsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  font-size: 1.1rem;
  width: 100%;

  * {
    text-align: center;

    margin-bottom: 1rem;
    &:last-child {
      margin-bottom: unset;
    }
  }
}

.btnCreate {
  @include reset-btn;
  background: rgb(46, 108, 224);
  color: white;
  height: 36px;
  min-width: 115px;
}

.btnEdit {
  @include reset-btn;
  border-radius: unset;
}

.cancel {
  @include reset-btn;
  border-radius: unset;
  color: red !important;

  &:hover {
    box-shadow: inset 0px 0px 3px rgba(255, 0, 0, 0.26) !important;
  }
}

.serverError {
  text-align: center;
  font-size: 1.4rem;
}

.actionGroup {
  display: flex;
  flex-direction: row;

  * {
    margin-right: 1rem;

    &:last-child {
      margin-right: unset;
    }
  }
}

.reservationCreationContainer {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 1rem;
  border-radius: $border-radius;
}

.reservationCreationHeader {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;

  h1 {
    font-size: larger;
  }
}

.reservationCreationSelectorGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  * {
    margin-bottom: 1rem;
    &:last-child {
      margin-bottom: unset;
    }
  }
}

.reservationCreationResult {
  display: flex;
  flex-direction: column;
}

.cubicleSelectorDropdown {
  display: flex;
  padding: 20px;
}

.filter {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 2rem;
  margin: 1rem;
  border-radius: $border-radius;
  min-width: 320px;
}

.filterInput {
  display: flex;
  flex-direction: column;

  .inputField {
    font-size: 1rem;
    padding: 10px;
  }

  * {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: unset;
    }
  }
}

.filterButtonGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.filterSearchButton {
  @include reset-btn;
  background: rgb(46, 108, 224);
  color: white;
  height: 36px;
  font-size: 1.4rem;
  border: unset;
}

.filterResetButton {
  @include reset-btn;
  border: unset;
  background: rgb(175, 175, 175);
  color: black;
  height: 36px;
  font-size: 1.4rem;
}

@media (min-width: $breakpoint-mobile) {
}

@media (min-width: $breakpoint-tablet) {
  .col-location {
    align-items: flex-start;
    margin-top: unset;
    margin-bottom: unset;
    justify-content: flex-start;
  }
  .col-date {
    flex-direction: row;
    min-width: 360px;
    p {
      margin-right: 1rem;
      &:last-child {
        margin-right: unset;
      }
    }
  }
  .reservation {
    flex-direction: row;
  }
  .reservationOptions {
    margin-right: 1rem;
    position: unset;
  }

  .noReservationsContainer {
    flex-direction: row;
    justify-content: space-evenly;
    * {
      margin-bottom: unset;
      margin-right: 1rem;
      &:last-child {
        margin-right: unset;
      }
    }
  }

  .reservationCreationSelectorGroup {
    flex-direction: row;

    * {
      margin-bottom: unset;
      margin-right: 1rem;
      &:last-child {
        margin-right: unset;
      }
    }
  }

  .reservationCreationResult {
    flex-direction: row;

    * {
      margin-right: 1rem;
      &:last-child {
        margin-right: unset;
      }
    }
  }
}

@media (min-width: $breakpoint-desktop) {
}

@media (min-width: $breakpoint-large) {
}
