.reservationContainer {
  background: $background;
}

.reservationHeader {
  @include flex-row;
  justify-content: space-between;
  border-radius: $border-radius $border-radius 0px;
  background: white;
  padding: 0.5rem;
  font-size: 1rem;
}

.reservation {
  @include flex-column;
  background: white;
  color: $text-undertone;
  transition: all 0.1s;
  position: relative;

  &:hover {
    filter: brightness(0.9);
  }

  &:last-child {
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }

  &[aria-expanded="true"] {
    border-radius: $border-radius;
    // margin: 1rem 0rem;
    filter: brightness(0.95);
    background: $background-undertone;
    color: $text-contrast;
    &:last-child {
      margin-bottom: unset;
    }

    .reservationPrimary {
      border-bottom: 1px solid white;
      color: $text-contrast;
    }
  }

  &[aria-expanded="false"] {
    .reservationSecondary {
      display: none;
    }
  }
}

.reservationPrimary {
  @include flex-column;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  cursor: pointer;
  user-select: none;
  border-top: 1px solid rgba($background-undertone, 0.1);
  border-bottom: 1px solid rgba($background-undertone, 0.1);
}

.reservationContent {
  width: 100%;
  padding: 0.5rem;
  color: $text-undertone;
  margin-bottom: 1rem;
  &:last-child {
    margin-bottom: unset;
  }
}

.noReservationsContainer {
  @include flex-row;
  justify-content: center;
  padding: 0.5rem;
  border-top: 1px solid black;
  font-size: 1.1rem;
  * {
    margin-right: 1rem;
    &:last-child {
      margin-right: unset;
    }
  }
}

.createReservationBtn {
  border: 1px solid black;
  background: gradient(to right, $background-undertone, $background);
}

.reservationQuickInfo {
  align-content: center;
  justify-content: center;
  display: flex;
  border-radius: $border-radius;
  padding: 5px;
}

.col-date {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
}

.col-location {
  display: flex;
  justify-content: center;
  width: 100%;
}

.btnGroup {
  display: flex;
  flex-direction: row;
}

.btnEdit {
  @include reset-btn;
  background: rgb(83, 83, 238);
  box-shadow: 2px 2px 2px 2px rgb(68, 68, 68);
  display: flex;
  transition: all 0.1s;
  filter: opacity(0);
  color: white;

  &[aria-expanded="true"] {
    filter: opacity(1);
  }
}

.btnDelete {
  @include reset-btn;
  background: rgb(218, 58, 58);
  box-shadow: 2px 2px 2px 2px rgb(68, 68, 68);
  display: flex;
  transition: all 0.1s;
  filter: opacity(0);
  color: white;

  &[aria-expanded="true"] {
    filter: opacity(1);
  }
}

@media (min-width: $breakpoint-mobile) {
  .reservationHeader {
    font-size: 1.3rem;
  }
  .reservationPrimary {
    flex-direction: row;
    * {
      justify-content: start;
      margin-right: 20px;
      &:last-child {
        margin-right: unset;
      }
    }
  }
  .col-date {
    width: 220px;
    margin-bottom: unset;
  }
  .col-location {
    width: 200px;
  }
}

@media (min-width: $breakpoint-tablet) {
}

@media (min-width: $breakpoint-desktop) {
}

@media (min-width: $breakpoint-large) {
}
